@import "tailwindcss";

@theme {
  /* --- CUSTOM COLORS --- */
  --color-primary: #E76F51;
  --color-secondary: #FDF0EB;

  --color-pastel-orange: #FDE7E1;
  --color-pastel-cream: #F2EDE7;
  --color-pastel-red: #FEE2E2;

  /* --- FONTS (TAILWIND V4) --- */
  --font-title: var(--font-manrope);
  --font-sans: var(--font-jakarta);
}

/* --- DARK MODE VARIANT --- */
@variant dark (&:where(.dark, .dark *));

/* --- HIDE SCROLLBAR --- */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

/* --- BASE STYLES --- */
body {
  /* Default font disetel ke Jakarta Sans */
  @apply font-sans bg-secondary dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 transition-colors duration-500 ease-in-out antialiased;
}

div, nav, button, span, p, h1, h2, h3, section {
  @apply transition-colors duration-500 ease-in-out;
}

/* --- CUSTOM COMPONENTS --- */
@layer components {
  .bento-card {
    @apply bg-zinc-100 dark:bg-zinc-900 
           p-8 rounded-[2.5rem] 
           border border-black/5 dark:border-white/5 
           transition-all duration-500 
           cursor-default;
  }

  /* Efek Hover Glowing Oranye */
  .bento-card-hover {
    @apply hover:shadow-2xl hover:shadow-primary/15 
           dark:hover:shadow-primary/20;
  }

  /* Glassmorphism Card (untuk form atau navbar) */
  .glass-card {
    @apply bg-white/70 dark:bg-zinc-900/70 backdrop-blur-xl border border-white/40 dark:border-zinc-800/50;
  }
}